# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/


# ============================================================
# Environment
# ============================================================

.env
.venv/
venv/


# ============================================================
# Airflow
# ============================================================

logs/*
!logs/.gitkeep

airflow.db
airflow.cfg


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# Docker
# ============================================================

docker-compose.override.yml