# ============================================================
# Airflow Providers
# ============================================================

apache-airflow-providers-postgres==7.0.2


# ============================================================
# Data Engineering
# ============================================================

duckdb
pyarrow
minio
boto3


# ============================================================
# Data Processing
# ============================================================

pandas


# ============================================================
# PostgreSQL
# ============================================================

psycopg[binary]


# ============================================================
# Utilities
# ============================================================

python-dotenv
requests
tenacity


# ============================================================
# Testing
# ============================================================

pytest
pytest-asyncio


# ============================================================
# Logging
# ============================================================

python-json-logger